<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
  <h3 class="mb-0">Assessor Panel</h3>
  <ol class="breadcrumb mb-0 ps-0">
    <li class="breadcrumb-item">
      <a routerLink="/">
        <i class="ri-home-8-line"></i>
        Home
      </a>
    </li>
    <li class="breadcrumb-item fw-semibold">Base</li>
    <li class="breadcrumb-item fw-semibold">Assessor Panel</li>

  </ol>
</div>

<mat-card class="mb-25 tagus-card">
  <mat-card-header>
    <h2 class="mb-0 badge text-bg-success">Welcome <span class="badge text-bg-warning">Webcam</span></h2>
  </mat-card-header>
 </mat-card>
