<mat-drawer #drawer mode='over' position="end">
  <div *ngIf="detail==false" class="mb-25 personal-info-card tagus-card">
    <div class="title d-flex align-items-center justify-content-space-between drowerheader">
      <h5>{{ flag ? 'Add Candidate' : 'Edit Candidate' }}</h5>
      <button class="close-btn bg-transparent p-0 border-none align-items-end" style="cursor: pointer;"
        (click)="close()"><i class="flaticon-close"></i></button>
    </div>
    <mat-card>
      <mat-card-content>
        <form>
          <!-- <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Batch Name <span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="ri-file-paper-2-line"></i>
                  <mat-label>Select Batch Name</mat-label>
                  <mat-select [(ngModel)]="objstudent.batch_id" #btchid (selectionChange)="getbatchlist()"  [disabled]="dispflag"  name="batch_id">
                    <mat-option *ngFor="let item of batchlist" [value]="item.id">{{item.batch_name}}</mat-option>

                 </mat-select>

                </mat-form-field>
              </div>
            </div>

          </div> -->
          <h5>Enter Candidate Details</h5>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">First Name<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-user"></i>
                  <mat-label>Enter First Name</mat-label>
                  <input matInput name="first_name" [(ngModel)]="objstudent.name" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Middle Name<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-user"></i>
                  <mat-label>Enter Middle Name</mat-label>
                  <input matInput name="middle_name" [(ngModel)]="objstudent.middle_name" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Last Name<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-user"></i>
                  <mat-label>Enter Last Name</mat-label>
                  <input matInput name="last_name" [(ngModel)]="objstudent.surname" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Enrollment No.<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-placeholder"></i>
                  <mat-label>Enter Enrollment No.</mat-label>
                  <input matInput name="Enrollment" [(ngModel)]="objstudent.enrollment_number" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="col-lg-2 col-md-2 col-sm-12"> -->
              <!-- <div class="tagus-form-group"> -->
                <!-- <label class="d-block mb-12 fw-semibold gray-color">Dial No<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-phone-call"></i>
                  <mat-label>Dial No</mat-label>
                  <mat-select [(ngModel)]="objstudent.mobile_code" [disabled]="dispflag"  name="mobile_code">
                    <mat-option *ngFor="let item of countryList" [value]="item.dial">{{item.dial}}</mat-option>

                 </mat-select>
                </mat-form-field> -->
              <!-- </div> -->
            <!-- </div> -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Contact Number<span>*</span></label>

                <!-- <label class="d-block mb-12 fw-semibold gray-color">Dial No<span>*</span></label> -->
                <mat-form-field class="dial" appearance="fill">
                  <i class="flaticon-phone-call"></i>
                  <mat-label>Dial No</mat-label>
                  <mat-select [(ngModel)]="objstudent.mobile_code" [disabled]="dispflag"  name="mobile_code">
                    <mat-option  *ngFor="let item of countryList|statusFilter:'Active'" [value]="item.dial">{{item.dial_code_and_iso}}</mat-option>

                 </mat-select>
                </mat-form-field>
                <!-- <label class="d-block mb-12 fw-semibold gray-color">Contact Number<span>*</span></label> -->
                <mat-form-field class="contact" appearance="fill">
                  <i class="flaticon-phone-call"></i>
                  <mat-label>Enter Contact Number</mat-label>
                  <input matInput appMobileNumber  name="contact_number" [(ngModel)]="objstudent.mobile_no" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Email<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-envelope"></i>
                  <mat-label>Enter Email Id</mat-label>
                  <input matInput name="Email" [(ngModel)]="objstudent.email" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Father Name<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-user"></i>
                  <mat-label>Enter Father Name</mat-label>
                  <input matInput name="Amount" [(ngModel)]="objstudent.father_name" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Adhar No<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-user-1"></i>
                  <mat-label>Enter Adhar no.</mat-label>
                  <input matInput appAdharNumber name="adhar" [(ngModel)]="objstudent.adhar_card" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">PAN No<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-user-1"></i>
                  <mat-label>Enter PAN no.</mat-label>
                  <input matInput name="adhar" [(ngModel)]="objstudent.pan_card" [readOnly]="dispflag">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Gender<span>*</span></label>
                <mat-form-field appearance="fill">
                  <i class="flaticon-user-1"></i>
                  <mat-label>Select Gender</mat-label>
                  <mat-select [(ngModel)]="objstudent.gender" [disabled]="dispflag"  name="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>

                 </mat-select>
                </mat-form-field>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-start">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">&nbsp;</label>
                <button *ngIf="flag==true" type="button" (click)="oncreate()" mat-flat-button class="tagus">

                  <span class="ri-file-add-line"></span>
                  <!-- <span class="flaticon-add"></span> -->
                  Add</button>


                <button *ngIf="flag==false" type="button" (click)="onupdate()"  mat-flat-button class="tagus">

                  <span class="ri-file-add-line"></span>
                  <!-- <span class="flaticon-add"></span> -->
                  Update</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <button type="button" (click)="close()" mat-raised-button class="gray">
                  <!-- <span class="flaticon-close"></span> -->
                  Close</button>
                  &nbsp;
                &nbsp;
                &nbsp;
                <button *ngIf="flag==true" type="reset" mat-flat-button color="warn">
                  <span class="ri-format-clear"></span>
                  Clear</button>


              </div>
            </div>
          </div>


        </form>
      </mat-card-content>
      </mat-card>
      </div>

      <div *ngIf="detail" class="mb-25 personal-info-card tagus-card">
        <div class="title d-flex align-items-center justify-content-space-between drowerheader">
          <h5>Candidate  Details</h5>
          <button class="close-btn bg-transparent p-0 border-none align-items-end" style="cursor: pointer;"
            (click)="close()"><i class="flaticon-close"></i></button>
        </div>


        <mat-card class="mb-25 personal-info-card tagus-card">
          <mat-card-header class="title d-flex align-items-center justify-content-space-between ">


          </mat-card-header>
          <mat-card-content>

            <ul class="list ps-0 mb-0">

              <li>
                <span class="fw-semibold d-inline-block">Batch Name:</span>
                <span class="gray-color">{{objstudent.batch_name}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Enrollment No:</span>
                <span class="gray-color">{{objstudent.enrollment_number}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Cnadidate Name:</span>
                <span class="gray-color">{{objstudent.name}} {{objstudent.middle_name}} {{objstudent.surname}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Father Name:</span>
                <span class="gray-color">{{objstudent.father_name}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Email ID:</span>
                <span class="gray-color">{{objstudent.email}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Phone No:</span>
                <span class="gray-color">{{objstudent.mobile_code}} {{objstudent.mobile_no}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Adhar Card:</span>
                <span class="gray-color">{{objstudent.adhar_card}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">PAN Card:</span>
                <span class="gray-color">{{objstudent.pan_card}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Gender:</span>
                <span class="gray-color">{{objstudent.gender}}</span>
              </li>

              <li>
                <span class="fw-semibold d-inline-block">Username:</span>
                <span class="gray-color">{{objstudent.username}}</span>
              </li>
              <li>
                <span class="fw-semibold d-inline-block">Password:</span>
                <span class="gray-color">{{objstudent.password}}</span>
              </li>


              <br>
              <br>
              <br>
              <br>

              <!-- <li>
                <span class="d-block fw-semibold mb-5">Total Practicle Marks:</span>
                <span class="gray-color">{{objnos.total_theory}}</span>
              </li> -->
              <li>
                <button type="button" (click)="close()" mat-raised-button class="gray">
                  <i class="flaticon-close"></i>
                  Close</button>
              </li>

            </ul>

          </mat-card-content>

        </mat-card>
      </div>
      </mat-drawer>

<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
  <h3 class="mb-0">Manage Candidate</h3>
  <ol class="breadcrumb mb-0 ps-0">
    <li class="breadcrumb-item">
      <a routerLink="/">
        <i class="ri-home-8-line"></i>
        Batch Management
      </a>
    </li>
    <li class="breadcrumb-item fw-semibold">Candidate</li>
  </ol>
</div>
<mat-card>
  <mat-card-content>
    <form>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="tagus-form-group">
            <label class="d-block mb-12 fw-semibold gray-color">Select Batch Name <span>*</span></label>
            <mat-form-field appearance="fill">
              <i class="ri-file-paper-2-line"></i>
              <mat-label>Select Batch Name</mat-label>
              <mat-select [(ngModel)]="objstudent.batch_id" #btchid (selectionChange)="getallcandidateList()"  [disabled]="dispflag"  name="batch_id">
                <mat-option disabled value="" >Select Batch</mat-option>
                <mat-option *ngFor="let item of batchlist" [value]="item.id">{{item.batch_name}}</mat-option>

             </mat-select>

            </mat-form-field>
          </div>
        </div>

      </div>
    </form>
    </mat-card-content>
    </mat-card>

<!-- Aggrid view data -->
<mat-card class="mb-25 tagus-card">
  <mat-card-header>
    <h3 class="mb-0">Candidate  List</h3>

    <mat-form-field>

      <mat-label><span class="ri-search-line"></span>&nbsp;&nbsp;Enter Keyword to Filter data </mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #name />

    </mat-form-field>
    <!-- <button type="button" mat-flat-button class="tagus fw-semibold " >
        <i class="flaticon-add"></i>
          Add Country
      </button> -->
      <a  routerLink="bulkquestionUpload" mat-button (click)="bulkupload()"  color="tagus text-bg-success">

        <i class="ri-add-fill"></i> Add Bulk</a>
      <button mat-flat-button class="default-btn tagus" (click)="openDrawer()">
        <i class="ri-add-fill"></i> Add
      </button>
  </mat-card-header>
  <mat-card-content>
    <div class="teamMembersListTable tagus-mat-table mat-elevation-z8">
      <table mat-table [dataSource]="datasource" class="tablegrid">


        <ng-container matColumnDef="batch_name">
          <th mat-header-cell *matHeaderCellDef>Batch Name</th>
          <td mat-cell *matCellDef="let element">{{element.batch_name}}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>User Name</th>
          <td mat-cell *matCellDef="let element">{{element.username}}</td>
        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef>Password</th>
          <td mat-cell *matCellDef="let element">{{element.password}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

          <ng-container matColumnDef="enrollment_number">
          <th mat-header-cell *matHeaderCellDef>Enrollment Number </th>
          <td mat-cell *matCellDef="let element">{{element.enrollment_number}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="mobile_no">
          <th mat-header-cell *matHeaderCellDef>Mobile No</th>
          <td mat-cell *matCellDef="let element">{{element.mobile_no}}</td>
        </ng-container>
        <ng-container matColumnDef="adhar_card">
          <th mat-header-cell *matHeaderCellDef>Adhar Card</th>
          <td mat-cell *matCellDef="let element">{{element.adhar_card}}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let element">{{element.gender}}</td>
        </ng-container>
       <!-- <ng-container matColumnDef="payout_amount">
          <th mat-header-cell *matHeaderCellDef>Payout Name</th>
          <td mat-cell *matCellDef="let element">{{element.payout_amount}}</td>
        </ng-container><ng-container matColumnDef="sip_user_id">
          <th mat-header-cell *matHeaderCellDef>User Id</th>
          <td mat-cell *matCellDef="let element">{{element.sip_user_id}}</td>
        </ng-container><ng-container matColumnDef="sip_user_password">
          <th mat-header-cell *matHeaderCellDef>Password</th>
          <td mat-cell *matCellDef="let element">{{element.sip_user_password}}</td>
        </ng-container>
        <ng-container matColumnDef="technical_support">
          <th mat-header-cell *matHeaderCellDef>Technical Support</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.technical_support=='1'">
              <span class="badge text-bg-success">Yes</span>
            </span>
            <span *ngIf="element.technical_support=='0'">
              <span class="badge text-bg-danger">No</span>
            </span>
          </td>
        </ng-container>-->


        <!-- Vendor Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.status=='Active'">
              <span class="badge">{{element.status}}</span>
            </span>
            <span *ngIf="element.status=='Deactivated'">
              <span class="badge inactive">{{element.status}}</span>
            </span>
            <!-- <span class="badge text-bg-danger" *ngIf="element.status.Deactivated">
                        {{element.status}}
                      </span> -->
            <!-- <span class="badge text-bg-success" *ngIf="element.status.Active">{{element.status}}</span>
                         <span class="badge text-bg-danger" *ngIf="element.status.deactive">{{element.status}}</span> -->
            <!-- <span class="badge " *ngIf="element.status">{{element.status}}</span> -->
            <!-- toggle start -->
            <!-- <form class="example-form" [formGroup]="formGroup" (ngSubmit)="alertFormValues(formGroup)" ngNativeValidate> -->
            <!-- <mat-slide-toggle formControlName="enableWifi">Enable Wifi</mat-slide-toggle> -->
            <!-- <mat-slide-toggle id="tog" (toggleChange)="myfun(element.country_id)" formControlName="acceptTerms"></mat-slide-toggle> -->
            <!-- <p class="mt-10">Form Group Status: {{formGroup.status}}</p> -->
            <!-- <button mat-raised-button type="submit">Save Settings</button> -->
            <!-- </form> -->
            <!-- toggle end

          </td>-->


        </ng-container>

        <!-- Date Column -->
        <!-- <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.date}}</td>
                </ng-container> -->


        <!-- Rating Column -->
        <!-- <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef>Rating</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.rating.star}}</span>
                        {{element.rating.overall}}
                    </td>
                </ng-container> -->
        <!-- Status Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.status === 'Active'" (change)="statusfun(element)" matTooltip="Acticate/Deactivate" matTooltipPosition="above">
            </mat-slide-toggle>

            <button mat-icon-button color="primary" (click)="update(element)" matTooltip="Update Record" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletefun(element)" matTooltip="Delete Record" matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="tagus" (click)="details(element)" matTooltip="Show Details" matTooltipPosition="above">
              <mat-icon>info</mat-icon>

            </button>

          </td>
          |
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <div class="col-lg-12 col-md-12">
      <mat-card class="mb-25 tagus-card">

        <mat-card-content>
          <mat-paginator [length]=""
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 50, 100]"
              showFirstLastButtons
              aria-label="Select page"
              (page)="onPageChange($event.pageIndex + 1)">
          </mat-paginator>
      </mat-card-content>
      </mat-card>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[10,50,100, 200, 300]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
</mat-paginator> -->
  </mat-card-content>
</mat-card>
<!-- Aggriddata end -->

