<!-- <mat-drawer-container class="example-container" [hasBackdrop]="true"> -->
  <mat-drawer #drawer mode='over' position="end">
    <div  class="mb-25 personal-info-card tagus-card">
      <div class="title d-flex align-items-center justify-content-space-between drowerheader">
        <h5>{{ isEditMode ? 'Edit Country' : 'Add Country' }}</h5>
        <button class="close-btn bg-transparent p-0 border-none align-items-end" style="cursor: pointer;"
          (click)="close()"><i class="flaticon-close"></i></button>
      </div>
    <mat-card>

      <mat-card-content>
        <form >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 ">

                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Enter Country <span>*</span></label>
                        <mat-form-field appearance="fill">
                            <i class="flaticon-worldwide"></i>
                            <mat-label>Enter Country Name eg. INDIA</mat-label>
                            <input matInput [(ngModel)]="objcontry.country_name" name="country_name">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">


              <div class="col-lg-12 col-md-12 col-sm-12 ">

                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Enter Country Code <span>*</span> </label>
                        <mat-form-field appearance="fill">
                            <i class="flaticon-worldwide"></i>
                            <mat-label>Enter Country Code eg. IND</mat-label>
                            <input matInput [(ngModel)]="objcontry.country_code" name="country_code" >
                        </mat-form-field>
                    </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 ">

                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Enter Dial No <span>*</span></label>
                        <mat-form-field appearance="fill">
                            <i class="flaticon-phone-call"></i>
                            <mat-label>Enter Dial No eg. +91-</mat-label>
                            <input  matInput [(ngModel)]="objcontry.dial" name="dial" >
                        </mat-form-field>
                    </div>

                </div>
              </div>
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-start">
                  <div class="tagus-form-group">

                      <button *ngIf="isEditMode==false"  type="button" (click)="onCountrysave()" mat-flat-button class="tagus" >

                        <span class="ri-file-add-line"></span>
                            Add</button>


                      <button *ngIf="isEditMode" type="button"  (click)="onupdate()" mat-flat-button class="tagus" >

                        <span class="ri-file-add-line"></span>
                            Update</button>
                    &nbsp;
                    &nbsp;
                    <button type="button" (click)="close()" mat-raised-button class="gray">
                      <!-- <span class="flaticon-close"></span> -->
                      Close</button>
                    <!-- <button *ngIf="isEditMode==false" type="reset" mat-flat-button color="warn">
                      <span class="ri-format-clear"></span>
                      Clear</button> -->


                  </div>
                </div>
              </div>


        </form>
    </mat-card-content>
    </mat-card>
    </div>

  </mat-drawer>
  <mat-drawer-content>
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
  <h3 class="mb-0">Manage Country</h3>
  <ol class="breadcrumb mb-0 ps-0">
      <li class="breadcrumb-item">
          <a routerLink="/">
              <i class="ri-home-8-line"></i>
              Admin Setting
          </a>
      </li>
      <li class="breadcrumb-item fw-semibold">Manage Country</li>
  </ol>
</div>

<mat-card class="mb-25 tagus-card">
  <!-- <mat-card-header>
      <h5 class="mb-0">Serch& Filter Record</h5>

  </mat-card-header> -->



</mat-card>
<!-- Aggrid view data -->
<mat-card class="mb-25 tagus-card">
  <mat-card-header >
      <h3 class="mb-0">Country List</h3>

      <mat-form-field>

        <mat-label><span class="ri-search-line"></span>&nbsp;&nbsp;Enter Keyword to Filter data  </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #name/>

      </mat-form-field>
      <!-- <button type="button" mat-flat-button class="tagus fw-semibold " >
        <i class="flaticon-add"></i>
          Add Country
      </button> -->
      <button mat-flat-button class="default-btn tagus" (click)="openDrawer()">
        <i class="ri-add-fill"></i> Add
    </button>



  </mat-card-header>
  <mat-card-content>
    <div class="teamMembersListTable tagus-mat-table mat-elevation-z8">
            <table   mat-table [dataSource]="datasource" class="tablegrid">

                <!-- Order ID Column -->
                <ng-container matColumnDef="country_name">
                    <th mat-header-cell *matHeaderCellDef class="text-start" >Country Name</th>
                    <td mat-cell *matCellDef="let element" class="fw-semibold text-start">{{element.country_name}}</td>
                </ng-container>

                <!-- Product Column -->
                <!-- <ng-container matColumnDef="country_code">
                    <th mat-header-cell *matHeaderCellDef class="text-start">Country Code</th>
                    <td mat-cell *matCellDef="let element" class="text-start">
                        <a routerLink="/" class="d-flex align-items-center product-info">
                            <img [src]="element.product.productImage" alt="product">
                            {{element.product.productName}}
                        </a>
                    </td>
                </ng-container> -->

                <!-- Customer Column -->
                <ng-container matColumnDef="country_code">
                    <th mat-header-cell *matHeaderCellDef>Country Code</th>
                    <td mat-cell *matCellDef="let element">{{element.country_code}}</td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="dial">
                    <th mat-header-cell *matHeaderCellDef>Country Dial</th>
                    <td mat-cell *matCellDef="let element">{{element.dial}}</td>
                </ng-container>

                <!-- Vendor Column -->
                <ng-container matColumnDef="status">
                    <th  mat-header-cell *matHeaderCellDef>Country Status</th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="element.status=='Active'">
                      <span class="badge">{{element.status}}</span>
                      </span>
                      <span *ngIf="element.status=='Deactivated'">
                        <span class="badge inactive">{{element.status}}</span>
                        </span>
                      <!-- <span class="badge text-bg-danger" *ngIf="element.status.Deactivated">
                        {{element.status}}
                      </span> -->
                       <!-- <span class="badge text-bg-success" *ngIf="element.status.Active">{{element.status}}</span>
                         <span class="badge text-bg-danger" *ngIf="element.status.deactive">{{element.status}}</span> -->
                      <!-- <span class="badge " *ngIf="element.status">{{element.status}}</span> -->
                      <!-- toggle start -->
                      <!-- <form class="example-form" [formGroup]="formGroup" (ngSubmit)="alertFormValues(formGroup)" ngNativeValidate> -->
                        <!-- <mat-slide-toggle formControlName="enableWifi">Enable Wifi</mat-slide-toggle> -->
                        <!-- <mat-slide-toggle id="tog" (toggleChange)="myfun(element.country_id)" formControlName="acceptTerms"></mat-slide-toggle> -->
                        <!-- <p class="mt-10">Form Group Status: {{formGroup.status}}</p> -->
                        <!-- <button mat-raised-button type="submit">Save Settings</button> -->
                    <!-- </form> -->
                      <!-- toggle end -->

                    </td>


                </ng-container>

                <!-- Date Column -->
                <!-- <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.date}}</td>
                </ng-container> -->


                <!-- Rating Column -->
                <!-- <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef>Rating</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.rating.star}}</span>
                        {{element.rating.overall}}
                    </td>
                </ng-container> -->
                <!-- Status Column -->
                <ng-container matColumnDef="country_id">
                    <th mat-header-cell *matHeaderCellDef >Actions</th>
                    <td mat-cell *matCellDef="let element">

                      <mat-slide-toggle [checked]="element.status === 'Active'" (change)="statusfun(element)" matTooltip="Acticate/Deactivate" matTooltipPosition="above">

                      </mat-slide-toggle>

                        <button mat-icon-button color="primary" (click)="update(element)" matTooltip="Update Record" matTooltipPosition="above">
                          <!-- <button mat-icon-button color="primary" (click)="drawer.toggle()" matTooltip="Update Record" matTooltipPosition="above"> -->

                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deletecountry(element)" matTooltip="Delete Record" matTooltipPosition="above">

                          <mat-icon>delete</mat-icon>
                      </button>

                        </td>
                        |
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
        <div class="col-lg-12 col-md-12">
          <mat-card class="mb-25 tagus-card">

              <mat-card-content>
                  <mat-paginator [length]=""
                      [pageSize]="pageSize"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      showFirstLastButtons
                      aria-label="Select page"
                      (page)="onPageChange($event.pageIndex + 1)">
                  </mat-paginator>
              </mat-card-content>
          </mat-card>
      </div>
        <!-- <mat-paginator [pageSizeOptions]="[10,50,100, 200, 300]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
</mat-paginator> -->
  </mat-card-content>
</mat-card>
<!-- Aggriddata end -->
</mat-drawer-content>
<!-- </mat-drawer-container> -->
