.side-modal {
  width: 400px;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.side-modal.open {
  transform: translateX(0);
}
