<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
  <h3 class="mb-0">Dashboard</h3>
  <ol class="breadcrumb mb-0 ps-0">
    <li class="breadcrumb-item">
      <a routerLink="/">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <!-- <li class="breadcrumb-item fw-semibold">Manage Job Role</li> -->
  </ol>
</div>
<app-status-bar></app-status-bar>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
   <app-batch-details></app-batch-details>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12">
    <app-std-report></app-std-report>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <app-batch-year></app-batch-year>

  </div>
  <div class="col-md-6 col-lg-6 col-sm-12">
    <app-calender-details></app-calender-details>
  </div>
</div>


