

<div
    class=" sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
    [class.dark-sidebar]="true"

>
    <div class="logo" style="background-color: #000;" >
      <!-- <div class="logo" style="background-color: #ffffff;" > -->
        <a routerLink="#" class="d-flex align-items-center" >
            <img src="assets/img/final_aaklan_logo.png" width="80%" alt="AAKALAN">
            <!-- <img src="assets/img/final_aaklan_logo_drk.png" width="80%" alt="AAKALAN"> -->
            <!-- <img src="assets/img/aak" alt="logo"> -->

        </a>
    </div>
    <br>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                  <span class="sub-title gray-color">Dashboard Panel</span>

                  <a routerLink="#" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" >
                    <!-- <i class="flaticon-to-do-list"></i> -->
                    <i class="flaticon-menu-1"></i>
                    <span class="title">Dashboard</span>
                  </a>
                    <span class="sub-title gray-color">Assessor Panel</span>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-layer"></i>
                                <span class="title">My List</span>
                                <span class="badge three">2</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                          <li class="sidemenu-item">
                            <a routerLink="/assessorPanel" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                              Assigned Batches
                            </a>
                        </li>
                        <!-- <li class="sidemenu-item">
                          <a routerLink="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                            Started Batches
                          </a>
                      </li> -->


                        </ul>
                    </mat-expansion-panel>





                    <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-pie-chart"></i>
                                <span class="title">Misc</span>
                                <span class="badge">-</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                  Search Batch
                                </a>
                            </li>
                            <li class="sidemenu-item">
                              <a routerLink="/webcam" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                webcam test
                              </a>
                          </li>

                        </ul>
                    </mat-expansion-panel> -->

                    <a routerLink="/asrlogout" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      <!-- <i class="flaticon-to-do-list"></i> -->
                      <i class="flaticon-airplane"></i>
                      <span class="title">Logout</span>
                    </a>


                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
