<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
  <h3 class="mb-0">Candidate Panel</h3>
  <ol class="breadcrumb mb-0 ps-0">
    <li class="breadcrumb-item">
      <a routerLink="/">
        <i class="ri-home-8-line"></i>
        Home
      </a>
    </li>
    <li class="breadcrumb-item fw-semibold">Base</li>
    <li class="breadcrumb-item fw-semibold">Assessment</li>

  </ol>
</div>
<mat-card class="mb-25 tagus-card">
  <mat-card-header>
    <h2 class="mb-0 badge text-bg-success">Welcome <span class="badge text-bg-warning"> {{sname}}</span></h2>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="row">
        <div class="alert alert-primary text-center" role="alert">

     Thank you for your successfully completed the Exam.


        </div>
      </div>
      <div class="row">
        <div class="col text-center">
      <p class="badge text-bg-danger">Click on the home button or in {{inc}} min it automatically redirect to Home Page</p>

        </div>
      </div>

    </form>
  </mat-card-content>
  <br>
  <br>
  <mat-card-footer>
    <div class="row">

        <div class="col text-center">
          <button  type="button" (click)="homepage()"  mat-flat-button class="tagus">

            <!-- <span class="ri-file-add-line">   </span> -->

            Home Page</button>
        </div>

       </div>

  </mat-card-footer>
</mat-card>



