
.dial
{
  float: left;
  // border: 1px solid #B1B5C3;
  border-radius: 0 0px 10px 10px !important;
  padding: 0 !important;
  width: 30%;
  margin-right:0!important;
}
.contact
{
  float: left;

  // border: 1px solid #B1B5C3;
  border-radius: 10px 10px 0 0 !important;
  // padding: 0 5px 0 5px !important;
  padding: 0 !important;
  width: 70%;
  margin-right:0!important;

}
.customgroup
{
  // border: 1px solid #B1B5C3 !important;
  padding: 0 !important;
}

