<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
  <h3 class="mb-0">Manage Students</h3>
  <ol class="breadcrumb mb-0 ps-0">
    <li class="breadcrumb-item">
      <a routerLink="/">
        <i class="ri-home-8-line"></i>
        Admin Setting
      </a>
    </li>
    <li class="breadcrumb-item fw-semibold">Add Bulk Students</li>
  </ol>
</div>

<!-- form start  -->
<mat-card class="mb-25 tagus-card">
  <mat-card-header>
    <h5 class="mb-0">Add Bulk Students </h5>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="tagus-form-group">
            <label class="d-block mb-12 fw-semibold gray-color">Select Batch Name <span>*</span> </label>
            <mat-form-field appearance="fill">
              <i class="ri-git-branch-line"></i>
              <mat-label>Select Batch</mat-label>
              <mat-select [(ngModel)]="objbulstd.batch_id"   name="sector" >
               <mat-option *ngFor="let item of batchlist" [value]="item.id">{{item.index_id}}-{{item.batch_name}}</mat-option>

            </mat-select>

            </mat-form-field>
          </div>
        </div>


              </div>




      <br>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <mat-card class="mb-25 tagus-card">
              <mat-card-header>
                  <h5 class="mb-0">Drop the Excel File to  Upload</h5>
              </mat-card-header>
              <mat-card-content>
                  <ngx-dropzone   (change)="onSelect($event)">
                      <ngx-dropzone-label class="fw-semibold">Drop files here or click to upload.</ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of filesdata" [removable]="true" (removed)="onRemove(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                  </ngx-dropzone>
              </mat-card-content>
          </mat-card>
      </div>

      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-start">
          <div class="tagus-form-group">
            <label class="d-block mb-12 fw-semibold gray-color">&nbsp;</label>
            <button  type="button" (click)="bulkAdd()"  mat-flat-button class="tagus">

              <span class="ri-file-add-line"></span>
              <!-- <span class="flaticon-add"></span> -->
              Bulk Add</button>
            &nbsp;
            &nbsp;
            &nbsp;
            <button type="reset" mat-flat-button color="warn">
              <span class="ri-format-clear"></span>
              Clear</button>
              &nbsp;
            &nbsp;
            &nbsp;


                <a  type="button" (click)="Downloadfile()"  mat-flat-button class="tagus">
                  <!-- <i class="ri-file-excel-2-line" ></i> -->
                   <span class="ri-file-excel-2-line"></span>
                Download Sample File</a>



          </div>
        </div>
      </div>


    </form>
  </mat-card-content>
</mat-card>
